apiVersion: cilium.io/v2
kind: CiliumBGPAdvertisement
metadata:
  name: plex-bgpadvert
  labels:
    advertise: bgp
spec:
  advertisements:
    - advertisementType: Service
      service:
        addresses:
          - LoadBalancerIP
      selector:
        matchLabels:
          io.kubernetes.service.namespace: plex # This Must be configured for your cluster setup